@using Resources;
@Styles.Render("~/Content/ImageUploader.css")
@using Lifetrons.Erp.Helpers

@{
    ViewBag.Title = "ImageUploader";
}

<h2>Image Uploader</h2>

<!-- image-preview-filename input [CUT FROM HERE]-->
<div class="input-group image-preview">

    <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
    <span class="input-group-btn">
        <!-- image-preview-clear button -->
        <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
            <span class="glyphicon glyphicon-remove"></span> Clear
        </button>
        <!-- image-preview-input -->

        <div class="btn btn-default image-preview-input">
            <span class="glyphicon glyphicon-folder-open"></span>
            <span class="image-preview-input-title">Browse</span>
            
            <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview" /> <!-- rename it -->
        </div>
       
            <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-upload"></span> Upload</button>
        

    </span>
</div>
<!-- /input-group image-preview [TO HERE]-->
<div>
    <button type="button" class="btn btn-default glyphicon glyphicon-upload"> Upload </button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ImageUploader")
}
