@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Message</h3>

<p> Developed by <i>Lifetrons,</i> a complete solution for business to help organizations integrate people, processes and systems. </p>
<p>

    <address>
        <span class="glyphicon glyphicon-envelope"></span>
        <strong>Support:</strong>   <a href="mailto:Support@EasySales.in">Support@EasySales.in</a><br />
    </address>
    <address>
        <span class="glyphicon glyphicon-phone-alt">     </span> +91-7014892266 <br />
    </address>
</p>

<p>
    <b>Editions</b>
    <ul style="content: '\f067';">
        <li>
            Free Edition - Full featured service. Start free and pay as you grow.
        </li>
        <li>
            Standard Edition - Eligible when your transaction or database records has increased beyond Free Edition (Solely decided and determind by our team).
        </li>
        <li>
            Enterprise Edition - Standard Edition + Custom domains. Ex: YourOrganizationName.EasySales.in + More bandwidth for your organization
        </li>
        <li>
            Unlimited Edition - Enterprise Edition + Extra Large databases and high transactions
        </li>
    </ul>
</p>
