@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <span class="glyphicon glyphicon-phone-alt">     </span> +91-7014892266 <br />
</address>

<address>
    <span class="glyphicon glyphicon-envelope"></span>    
    <strong>Support:</strong>   <a href="mailto:Support@EasySales.in">Support@EasySales.in</a><br />
</address>