
<h2>Help Videos</h2>

<div class="container">
    
    <div class="badger-left" data-badger="Start up steps for “Sales Professionals” after Login">
        <div class="row center-block">
            <div class="col-md-4">
                <div class="vid">
                    <iframe width="350" height="250" src="http://www.youtube.com/embed/VA2o4M-GRvE" allowfullscreen=""></iframe>
                </div><!--./vid -->
            </div>

            <div class="col-md-8">
                <p>
                    <ul style="content: '\f067';">
                        <li>
                            Most of our forms are “Single Name Entry” forms. Just type “Name” and press “Enter” key, and you are done with your work.
                        </li>
                        <li>
                            <b>  Step 1 (Once in Lifetime)</b>
                        </li>
                        <li>
                            Lists -> Account
                            <br/>
                            * "Accounts" are organizations or entities which are your clients or potential clients.  For Example: “Acme Hospitals, Delhi” or “Sharda Enterprises”.
                        </li>
                        <li>
                            Lists -> Contact
                            <br />
                            * Contacts are the persons whom you talk to in your respective “Account”. A contact can be a Doctor, Purchase Manager or MD etc. For Example: “Dr. James Smith”, “Sunil Kumar Sharma” etc.
                            <br/>
                            * When creating “Contact”, it is recommended that you link it with an “Account”.
                        </li>
                        <li>
                            <b>Step 2 (Once in a month in most cases)</b>
                        </li>
                        <li>
                            “Lead” or “Opportunity”
                        </li>
                        <li>
                            * Lead – If you are approaching new person/entity for the first time and don’t know if it’s qualified to be your customer, then it’s a “Lead”. For example: You get a list of numbers you need to call, these are your leads. Go to “Sales -> Lead” and “Create” your leads in application
                            <br/>
                            * You can “Convert ” a “Lead”  to “Opportunity” after it qualifies from “Lead Detail” page.
                        </li>
                        <li>
                            Opportunity – A qualified “Lead” is an “Opportunity”. 
                            <br />
                            * For example:  A medical sales professional approaching a new hospital. Its an opportunity for him because a hospital is qualified lead and he knows that it’s a potential customer. He can directly create an “Opportunity” from “Sales - Opportunity” your opportunity in application
                            <br />
                            * In “Opportunity Detail” page, scroll to bottom and add products in “Opportunity Line Items” which you expect from this opportunity.
                        </li>
                        <li>
                            <b>Step 3 (Just two clicks daily, no typing)</b>
                        </li>
                        <li>
                            * Navigate to “Dashboard”. Find you respective “Lead” or “Opportunity”, and click on it to open “Lead Detail” or “Opportunity Detail” page.
                            <br/>
                            * In “Lead Detail” or “Opportunity Detail” page just click on “Create Task” link to create automatically linked related “Tasks”.

                        </li>
                    </ul>
                </p>
            </div>


        </div>
    </div>

    <div class="badger-left" data-badger="Dashboard">
        <div class="row center-block">

            <div class="col-md-4">
                <div class="vid">
                    <iframe width="350" height="250" src="http://www.youtube.com/embed/S37zQnUbEjY" allowfullscreen=""></iframe>
                </div><!--./vid -->
            </div>

            <div class="col-md-4">

            </div>

            <div class="col-md-4">

            </div>
        </div>
    </div>

    <div class="badger-left" data-badger="Daily Working">
        <div class="row center-block">

            <div class="col-md-4">
                <div class="vid">
                    <iframe width="350" height="250" src="http://www.youtube.com/embed/LV9ibax-cMQ" allowfullscreen=""></iframe>
                </div><!--./vid -->
            </div>

            <div class="col-md-4">

            </div>

            <div class="col-md-4">

            </div>
        </div>
    </div>

    <div class="badger-left" data-badger="Products & Price Books">
        <div class="row center-block">

            <div class="col-md-4">
                <div class="vid">
                    <iframe width="350" height="250" src="http://www.youtube.com/embed/CuRMnhYV39Q" allowfullscreen=""></iframe>
                </div><!--./vid -->
            </div>

            <div class="col-md-8">
                <ul style="content: '\f067';">
                    <li>
                        Lists -> Product
                        <br />
                        Products or Service you sell. For Example: Pen, Jacket, Printer etc
                    </li>
                    <li>
                        Lists -> PriceBook
                        <br />
                        PriceBook or PriceList is the list which contains prices of the products
                    </li>
                    <li>
                        Add all the product you need to sell in your “Price Book” by going to “Price Book Details” page and click on “Add” button and adding prices. These prices can be modified when used in an “Opportunity”, “Quote” or “Order”.
                    </li>
                    <li>
                        You cannot access a “Product” directly into an “Opportunity”, “Quote” or “Order”. You can access a “Product” only via a “PriceBook”.
                    </li>
                    <li>
                        You can access a “PriceBook” directly from “Opportunity Detail” or “Quote Detail” or “Order Detail” by clicking “Add” link (in bottom) on respective detail page in respective “Opportunity Line Item” or “Quote Line Item” or “Order Line Item” section.
                    </li>
                </ul>
            </div>


        </div>
    </div>
    
    <div class="badger-left" data-badger="Concepts and Flow">
        <div class="row center-block">
            <img src="~/Images/ESFlowChart.jpg" class="img-responsive" alt="Image Not Available" onerror="this.src = '../../Images/ImageNotAvailable.jpg'">
        </div>
    </div>

</div>